*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background-image: url("beats/aaaaaaaaaaaaa.jpg");
    background-color: black;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    margin: 30px 0;
     text-align: center;
  }

header:after {
    content: '';
    width: 460px;
    height: 130px;
    background: url("beats/img.png") no-repeat center blanchedalmond;
    display: inline-block;
    background-size: 90%;
  }

h1{
    color:silver;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Times New Roman';
    text-align: center;
    margin: 0;
}
h3{
    color:yellow;
}

.piano{
    display: flex;

}

.key{
    height: calc(var(--width) * 4);
    width:var(--width);
}

.white{
    width:80px;
    height: 220px;
    background-color: white;
    border: 1px solid grey;
}
 
.hints{ 
   color: black;
   position: absolute;
   bottom: -2px;
   font-size: 20px;
}
 
.hint{
   
    color: white;
    position:relative;
    top: 130px;
    font-size: 20px; 
 }
 
 .piano:hover .hints {
    opacity: 1;
  }

.white.active{
    background-color: #ccc;
}

.black{
    width: 40px;
    height:150px;
    background-color: black;
    margin-left: -30px;
    margin-right: -20px;
    z-index: 2;
}
 
